<div ng-controller="listaTareasCtrl">

    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4" style="text-align: right;">
            <a href="#!EditarTarea" class="btn btn-info" role="button">Agregar</a>
        </div>
    </div>

    <div class="table-responsive">
        <table ng-table="tableParams" class="table" show-filter="true">
            <tr ng-repeat="tarea in $data">
                <td title="'Id'">
                    {{tarea.id}}
                </td>
                <td title="'Nombre'" sortable="'nombre'">
                    {{tarea.nombre}}
                </td>
                <td title="'Descripcion'">
                    {{tarea.descripcion}}
                </td>
                <td title="'Creación'" sortable="'fecha_creacion'">
                    {{tarea.fecha_creacion}}
                </td>
                <td title="'Estatus'" filter="{ estatus_descripcion: 'text'}">
                    {{tarea.estatus_descripcion}}
                </td>
                <td title="'Acciones'">
                    <a href="#!EditarTarea?id={{tarea.id}}" class="btn btn-primary" role="button">
                        <span class='fa fa-pencil'></span>
                    </a>

                    <a href="javascript:void(0);" class="btn btn-danger" role="button" ng-click="Eliminar(tarea.id)">
                        <span class='fa fa-trash-o'></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>