@model Nuxiba.TestArch.Web.Models.UserLoginModel

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nuxiba</title>
</head>
<body>
    <h1>API</h1>
</body>
</html>