<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="header">MENÚ</li>
        </ul>
        @* END Menu *@
    </section>
</aside>