<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="header">MENÚ</li>
            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-folder"></i><span>Usuarios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#!ListadoUsuarios"><i class="fa fa-circle-o"></i>Listado</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-folder"></i><span>Tareas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#!ListadoTareas"><i class="fa fa-circle-o"></i>Listado</a></li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>